@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.button .cube .front::before {
    position: absolute;
}

.button, .front, .cube, .back, .button, .front::before {
    width: 100%;
    height: 100%;
}

.button {
    border-radius: 4px;
    width: 150px;
    height: 50px;
    perspective: 1800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 15px 0px rgba(2, 23, 56, 0.4);
}

.button .cube {
    position: relative;
    height: 60px;
    width: 185px;
    perspective: 1800px;
}

.button .front, .cube .back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    transition: transform 0.3s ease;
    position: absolute;
    color: #f8f4f4;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.button .cube .front {
    background-color: #1786a1;
}

.button .cube .front::before {
    content: '';
    display: block;
    z-index: -1;
}

.button .cube .front::after {
    background: #ffffff;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
}

.button .cube .back {
    background-color: #023047;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    transform: rotateX(0deg) translateZ(60px);
}

.button .cube:hover .front {
    transform: rotateX(0deg) translateZ(30px);
}

.button .cube:hover .back {
    transform: rotateX(90deg) translateZ(30px);
}

.button:active .front {
    border-radius: 0;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 600;
}

.button:active .front::before {
    background-color: #8ecae6;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:active .front::after {
    left: 120%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
