@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #200388;
	font-size: 16px;
}

.container__card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: all .5s ease-in-out;
}

.container__card:hover .card__front {
    transform: rotateX(180deg);
}
.container__card:hover .card__back {
    transform: rotateX(0deg);
}

.card__front{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1672957603474-fe1d31c482e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card__back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    backface-visibility: hidden;
    transform: rotateX(180deg);
    border-radius: 8px;
    transition: .5s;
    color: #00f7ff;
    text-align: center;
}


h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 50% auto 25% auto;
}

span {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
}

a {
   text-decoration: none;
   color: #00f7ff;
   padding: 10px;
   transition: all 0.5s;
   margin: 0 5px;
   border-radius: 50%;
   font-size: 1.2rem;
}

a:hover {
   background: #00f7ff;
   color: #000000;
   border-radius: 50%;
   transform: translateY(4px);
}