* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-50deg, rgb(136, 79, 0) 0%, rgb(100, 1, 1) 50%, rgb(36, 0, 58) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    
    background: linear-gradient(50deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,176,1) 100%);
    width: 150px;
    height: 150px;
    border-radius: 30px;
    animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
    0% {
     
              transform: rotate(0);
    }
    100% {
      
              transform: rotate(360deg);
    }
  }
  

.cap-1 {
    width: 120px;
    height: 120px;
    border: solid 10px white;
    border-radius: 35px;
    margin: 15px;
}

.cap-2 {
   
    width: 60px;
    height: 60px;
    border: solid 10px white;
    border-radius: 30px;
    margin: 20px;
    
}




.cap-3 {
    width: 10px;
    height: 10px;
    position: relative;
    left: 45px;
    bottom: 20px;
    border: solid 8px rgb(255, 255, 255);
    border-radius: 30px;
}

