@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primario: #f5e58b;
    --secundario: #5318b1;
    --gris: #3b3b3b;
    --blanco: #ffffff;
    --negro: #1f1f1f;
    --grisClaro: #e1e1e1;
    --separacion: 5rem;
    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    background: var(--primario);
}
h3 {
    font-size: 3rem;
    color: var(--secundario);
}

h3 span{
    color: var(--gris);
}

h4 {
    color: var(--secundario);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.flex {
   display: grid;
   grid-template-columns: 10rem 1fr;
   place-items: start;
   gap: 1rem;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--negro);
    width: 100%;
    height: 4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    gap: 1rem;
    cursor: pointer;
}
.card p {
    font-size: 1rem;
    font-weight: 200;
}

.card span {
    color: var(--secundario);
    margin-right: 0.5rem;
}

.card-flex {
    background-color: var(--primario);
    width: 30px;
    height: 30px;
    border-radius: 0.2rem;
}
/* Hover */

.end {
    animation: fin 3s infinite;
}

@keyframes fin {
    0% {
        justify-content: start;
    }
    100% {
        justify-content: flex-end;
    }
}

.center {
    animation: centro 3s infinite;
}

@keyframes centro {
    0% {
        justify-content: start;
    }
    100% {
        justify-content: center;
    }
}

.space-between {
    animation: between 3s infinite;
}

@keyframes between {
    0% {
        justify-content: start;
    }
    100% {
        justify-content: space-between;
    }
}

.space-around {
    animation: around 3s infinite;
}

@keyframes around {
    0% {
        justify-content: start;
    }
    100% {
        justify-content: space-around;
    }
}


.space-evenly {
    animation: around 3s infinite;
}

@keyframes evenly {
    0% {
        justify-content: start;
    }
    100% {
        justify-content: space-evenly;
    }
}



