@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    background-color: #333;
}
 
.ul__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    list-style: none;
}

.ul__nav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.ul__nav a {
    position: relative;
    color: rgba(205, 207, 205, 0.5);
    padding: 0.5rem 0.8rem;
    text-decoration: none;
}

.ul__nav a:before,
.ul__nav a:after {
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.ul__nav a:before {
  right: 0;
    top: 0;
    border-right: 3px solid #07d111;
    border-top: 3px solid #07d111;
    -webkit-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
}

.ul__nav a:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid #07d111;
    border-bottom: 3px solid #07d111;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}

.ul__nav a:hover,
.ul__nav .home a {
  color: #ffffff;
}

.ul__nav a:hover:before,
.ul__nav .home a:before,
.ul__nav a:hover:after,
.ul__nav .home a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
