@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #008080;
    overflow: hidden;
}

ul {
   position: relative;
   display: flex;
   gap: 50px;
   transform-style: preserve-3d;
   
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
}

ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #333;
  transform: skewX(-41deg);
}

ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #333;
  transform: skewY(-49deg);
}

ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  color: lawngreen;
  font-size: 30px;
  transition: 1.5s ease-out;
  text-align: center;
  padding: 15px;
}

ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: 
          -1px 1px 1px 
          rgba(255, 255, 255, 0.7);
}

ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}

ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}

ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}

ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}

ul li:nth-child(1):hover span{
  background: #222;
}

ul li:nth-child(2):hover span{
  background: #0eadf7;
}

ul li:nth-child(3):hover span{
  background: linear-gradient(50deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,176,1) 100%);
}

ul li:nth-child(4):hover span{
  background: #FCEB00;
}

/* SECTION TEXT */

.section__text {
  display: flex;
  justify-content: end;
  align-items: center;
}

p {
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 4px;
  border-right: solid 3px #333;
  white-space: nowrap;
  overflow: hidden;
  animation: 
          animated-text 4s steps(29,end) 1s 1 normal both, 
          animated-cursor 600ms steps(29,end) infinite;   
}

p a {
  letter-spacing: 0px;
  text-decoration: none;
  color: #333;
}

.icon {
  font-size: 10px;
  color: aliceblue;
  background: #333;
  padding: 5px;
  border-radius: 50%;
}

/* Animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 112px;}
}

/* Cursor Animation */

@keyframes animated-cursor{
  from{border-right-color: #333;}
  to{border-right-color: transparent;}
}